<% content_for :title, "L'encyclopédie" %>

<% content_for :background_banner, "bg-#{rand(2..18)}.jpg" %>
<%= render 'shared/banner_sm' %>

<div class="row">
	<div class='col-lg-8 col-sm-12 text-center border border-primary' id="article-show">
		<h1>Bienvenue sur l'encyclopedie</h1>
		<blockquote>Nous remercions <strong><%= link_to 'Ecopedia', "/wiki/Accueil"%></strong> pour tous les articles <br></blockquote>
	</div>

	<div class='col-lg-3' id='articles-nav'>
		<%= render 'sidebar' %>

	</div>
</div>
