<% content_for :background_banner, "agriculture.jpg" %>
<%= render 'shared/banner_sm' %>


<section style="margin:30px; padding:30px; border-radius: 15px; box-shadow: 0 0 10px grey;">
	<h1 class='text-center'>Encyclopedia</h1>
	<div class="text-center">
		<% @articles.each do |article| %>
			<%= link_to article_path(article.id) do %>
				<p><%= article.title %></p>
			<% end %>
		<% end %>
	</div>
</section>
