<% content_for :background_banner, "bg-#{rand(1..12)}.jpg" %>
<%= render 'shared/banner_sm' %>

<div class="row">
	<div class='col-lg-8 col-sm-12' id="article-show">
		<p>Ta mere</p>
	</div>

	<div class='col-lg-3' id='articles-nav'>
		<%= render 'sidebar' %>
	</div>
</div>
