<% users.each do |user| %>
	<p class='mt-0 mb-0'><span class='mr-2 <%= user.is_online ? "online-dot" : "offline-dot" %>' id='presence-user-<%= user.id %>'></span><%= link_to user.user_name.capitalize, conversations_path(user_id: user), remote: true, method: :post  %></p>
<% end %>