<% content_for :title, "Autour de moi" %>

  <div id='map' style='height:900px; top:76px;'>
    <div id='menu'>
      <input id='basic' type='radio' name='rtoggle' value='basic' checked='checked'>
      <label for='basic'>basic</label>
      <input id='streets' type='radio' name='rtoggle' value='streets'>
      <label for='streets'>streets</label>
      <input id='satellite' type='radio' name='rtoggle' value='satellite'>
      <label for='satellite'>satellite</label>
    </div>
    <i class="now-ui-icons loader_refresh" id="spinning-wheel" style='display: none'></i>
  </div>

  <script>
    <% unless @user.doesnt_have_an_address %>
      mapProfile (<%= @user.longitude%>, <%= @user.latitude %>);
    <% else %>
      mapProfile (5.2815464, 45.1427126);    
    <% end %>
  </script>
