<div class="page-header header-filter">
	<div class="page-header-image" data-parallax="true" style="background-image: url(<%= image_path(yield(:background_banner))%>)">
	</div>
</div>

<!-- To add this banner do without '#':
<%# content_for :background_banner, "yourimage.jpg" %>
<%=# render 'shared/banner-lg' %> -->