<div class="card" id='the-user-list' style='display:none;'>
	<div class="card-body bg-white ml-2">
        <i class="now-ui-icons ui-1_simple-remove text-primary" id='close-messenger'></i>
		<%= form_tag users_path, method: :get, remote: true, class:'mt-3' do %>
		<p class='mb-0 text-center'>
			<%= text_field_tag :search, params[:search], class:"form-control bg-realwhite" %>
			<%= submit_tag "Recherche", name: nil, autofocus: true, class:"btn btn-sm btn-primary btn-round" %>
		</p>
		<% end %>

		<hr class='mb-1'>
		<div id="user-receiver">
			<% @users.each do |user| %>
				<p class='mt-0 mb-0'><%= link_to user.user_name.capitalize, conversations_path(user_id: user), remote: true, method: :post  %></p>
			<% end %>
		</div>
	</div>
</div>
