<div class="container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(<%= image_path('agriculture.jpg')%>)">

    <div class="row">
        <div class="pad1">
            <div class="logo">
            <%= image_tag ('icone-logo.png'), class:'rounded-circle img-raised'%>
            </div>
            <div class="text">
                <h2>Log In</h2>    
            </div>
        </div>

        <hr>
            
        <div class="pad2">
            <div class="logo">
            <%= image_tag ('icone-logo.png'), class:'rounded-circle img-raised'%>
            </div>
            <div class="text">
                <h2>Sign Up</h2>    
            </div>
        </div>


    </div>

</div>