<section class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(<%= image_path('agriculture-botanical.jpg')%>)">>
  <div class="d-flex row center">
    <!-- -------------- TOP SECTION LEFT - TEXT -------- -->
    <div class="col-6 offset-md-2 left3 mt-5 flex-column text-white d-flex justify-content-center align-items-left">
      
        <h1 class="display-1">Bienvenue permaculteur !</h1>
        <h1 class="display-5">Rejoins le reseau des permaculteurs </h1>
        
    </div>
    <!-- -------------- TOP SECTION RIGHT - FORM ------------ -->
    <div class="col-4 right left3 text-white d-flex mt-0 justify-content-center align-items-center" id='right'>
      <%= render 'log_in_form' %>
      <%= render 'login_modal' %> <!-- Peut etre place n'importe ou -->
    </div>
  </div>
</section>

  