<div class="container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(<%= image_path('agriculture.jpg')%>)">

    <div class="row">

        <div class="text pad1">
            <h2>Log In</h2>    
        </div>

        <hr>
            
        <div class="text pad2">  
            <h2>Sign Up</h2>          
        </div>

    </div>

</div>