<section class="container">

    <div class="row">

        <div class="col">
            <h2>Log In</h2>    
        </div>

        <hr class="col">
            
        <div class="col">  
            <h2>Sign Up</h2>          
        </div>

    </div>

</section>