<div class="card p-3">
	<div class="card-header text-center">
		<h5>Envie d'échanger?</h5>
	</div>
	<div class="card-body ml-3">
		<% @users.each do |user| %>
			<p><%= image_tag user.avatar_mini, class:'rounded-circle img-raised', alt:"Photo de profil", size:'32x32' %> <%= link_to user.user_name.capitalize, conversations_path(user_id: user), remote: true, method: :post  %></p>
		<% end %>
	</div>
</div>
