<div class="card" id='post-form'>
	<div class="card-body p-2">
		<%= form_tag posts_path, method: :get, remote: true do %>
		<p class='mb-0 text-center'>
			<%= text_field_tag :search, params[:search], placeholder:'Recherche..', class:"form-control bg-realwhite" %>
			<%= submit_tag "Recherche", name: nil, autofocus: true, class:"btn btn-primary", id:'search-btn-target', style:'display:none' %>
		</p>
		<% end %>
	</div>
</div>