/*------------------------- FONTS --------------------------*/

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Static';
  src: url('Static-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo-Regular';
  src: url('Aleo-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo-Light';
  src: url('Aleo-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo-Bold';
  src: url('Aleo-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ostrich';
  src: url('OstrichSans-Heavy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Delio';
  src: url('Delio-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('Mont-HeavyDEMO.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*---------------------------------------- JAVASCRIPT ALERTS ----------------------*/

.alert-container {
    position:relative;
    width:100%;
}
.alert-floating {
    position: fixed;
    top: 75px;
}

.img-floating {
    position: absolute;
    left: 800px;
    top: 10px;
}

/*----------------------------- PIMP ------------------------*/

body{
  background-color: #F5F5F5 ;
}

.latypo {
  font-family: 'Ostrich';
  font-size: 3em;
}

.bouton {
  font-family: 'Phenomena';
  font-size: 17px;
  border-radius: 50px;
}

h1, h2, h4, h3, h5, h6 {
  font-family: 'Ostrich';
}

.pimp {
  font-size: 20px;
}

p, .price, .category, .form-group {
  font-family: 'Phenomena';
}

.card-header {
  font-family: 'Static'
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;

  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */

  color: #EEEEEE; /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 50px;
  font-family: 'Phenomena';
}

.gradient {
  background-image: linear-gradient(#006266, #07a45d);
  background-size: 100%;
  max-width: 100%;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/*------------------------------LANDING PAGE---------------------------------*/

.containerland2 {
  background-size: 100%;
  max-width: 100%;
  height: 50%;
  color: black;

}

.left {
  border-right-height: 200px;
  height: 765px;
}

.left2 {
  border-right-height: 200px;
  height: 160px;
}

.left3 {
  border-right-height: 200px;
margin-top: 90px;
}

.left4 {
  border-right-height: 200px;
margin-top: 200px;
margin-bottom: 400px;
}

.left5 {
margin-left: 240px;
}

.left::before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        height: 500px;
        border-right: 1px solid white;
    }

.right {
  height: 765px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#text-left:hover {
  cursor: pointer;
}
#text-right:hover {
  cursor: pointer;
}

.right:hover #text-rightv{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
}

#text-right {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.scroll {
  background-image: url(image_path("arrow-down.png"));
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  cursor:pointer;
}

.paragraph {
  text-align: center;
  border-right-height: 100px;
  height: 250px;
}


/*---------------------------- ARTICLES ENCYCLO ---------------------*/

#article-show {
  margin:auto;
  margin-right: 10px;
  margin-top:30px;
  padding:45px;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
}

#articles-nav {
  margin:auto;
  margin-left:10px;
  margin-top:30px;
  padding:30px;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
}

/*----------------------------------- CHAT -----------------------------*/
ul {
   list-style: none;
}

.conversations-ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  float: right;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

.btn-message {
  font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  font-size: .8571em;
  line-height: 1.35em;
  margin: 10px 1px;
}

/*------------------------------------ PoSTS ---------------------------*/
.user-pres {
  border-top: 0.5px solid $secondary-julien;
  border-bottom: 0.5px solid $secondary-julien;
}

.category-list {
  cursor: pointer;
}

/*----------------------- MAPS ------------------*/

#map { position:relative; bottom:0; width:100%; height: 620px; }

#menu {
position: absolute;
z-index: 1;
background: #fff;
padding: 10px;
font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.markeruser {
  background-image: url(image_path('icone-logo.png'));
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.markerevent {
  background-image: url(image_path('marker.png'));
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}