	<div class="container containerland2" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(<%= image_path('agriculture.jpg')%>)">

		<div class="row">
			<div class="col-6 left text-white d-flex justify-content-center align-items-center" id='left'>
				<h2>Log In</h2>    
			</div>


			<div class="col-6 right text-white d-flex justify-content-center align-items-center" id='right'>  
				<h2>Sign Up</h2>          
			</div>
		</div>

	</div>

<script>
	let left = $('.left')
	let right = $('.right')

	function resetClassList() {
		left.removeClass('col-8')
		left.removeClass('col-6')
		left.removeClass('col-4')
		left.addClass('col-6')
		right.removeClass('col-8')
		right.removeClass('col-6')
		right.removeClass('col-4')
		right.addClass('col-6')
	};


	left.children().click( function() {
		resetClassList()
		left.removeClass('col-6')
		left.addClass('col-8')
		right.removeClass('col-6')
		right.addClass('col-4')
	})

	right.children().click( function() {
		resetClassList()
		right.removeClass('col-6')
		right.addClass('col-8')
		left.removeClass('col-6')
		left.addClass('col-4')
	})

</script>
