<div id="conversations-list" class="fixed-bottom d-flex justify-content-end align-items-end">
	<% unless @conversations.nil? %>
        <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
        <% end %>
    <% end %>
</div>
<%= render 'shared/user-list'  %>
