        <footer class="footer bg-black text-white">
            <div class="container">
              <nav>
                  <ul>
                    <li>
                      <%= link_to 'https://twitter.com/Permaculture19', class:"nav-link", rel:"tooltip", title:"Nous suivre sur Twitter", data: {placement:"bottom"}, target:"_blank" do %>
                        <i class="fa fa-twitter"></i>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to 'https://www.facebook.com/Perma-culture-261297331446076/', class:"nav-link", rel:"tooltip", title:"Nous suivre sur Facebook", data: {placement:"bottom"}, target:"_blank" do %>
                        <i class="fa fa-facebook"></i>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to 'https://github.com/zekidok/perma-culture/', class:"nav-link", rel:"tooltip", title:"Nous suivre sur GitHub", data: {placement:"bottom"}, target:"_blank" do %>
                        <i class="fa fa-github"></i>
                      <% end %>
                    </li>
                  </ul>
              </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by
                    Leo le boss, Rachel la graphiste, Xavier l'exile, Julien le saboteur et Thomas le troubadour
                </div>
            </div>
        </footer>