        <footer class="footer bg-black text-white">
            <div class="container">
              <nav>
                  <ul>
                    <li>
                      <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="#">
                        <i class="fa fa-twitter"></i>

                      </a>
                    </li>
                    <li>
                      <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="#">
                        <i class="fa fa-facebook"></i>

                      </a>
                    </li>
                    <li>
                      <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="#">
                        <i class="fa fa-instagram"></i>

                      </a>
                    </li>
                  </ul>
              </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by
                    Leo le boss, Rachel la graphiste, Xavier l'exile, Julien le saboteur et Thomas le troubadour
                </div>
            </div>
        </footer>