        <footer class="footer bg-black text-white">
            <div class="container">
              <nav>
                  <ul>
                    <li>
                      <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom">
                        <i class="fa fa-twitter"></i>

                      </a>
                    </li>
                    <li>
                      <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom">
                        <i class="fa fa-facebook"></i>

                      </a>
                    </li>
                    <li>
                      <%= link_to 'https://github.com/zekidok/perma-culture/', class:"nav-link", rel:"tooltip", title:"Follow us on GitHub", data: {placement:"bottom"}, target:"_blank" do %>
                        <i class="fa fa-github"></i>
                      <% end %>
                    </li>
                  </ul>
              </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by
                    Leo le boss, Rachel la graphiste, Xavier l'exile, Julien le saboteur et Thomas le troubadour
                </div>
            </div>
        </footer>